*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9ebed;
    color: #121212;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
.signup-card{
    height: auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    text-align: center; 
    box-shadow: -10px -10px 15px rgba(0,0,0,0.1),
    -10px -10px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 450px; 
}
.logo{
    font-weight: bold;
    font-size: 40px;
    color: #1DB954;
    margin-bottom: 20px;
}

h1{
    font-size: 28px;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

.subtitle{
    font-size: 14px;
    color: #6a6a6a;
    margin-bottom: 30px;
}
.form-group{
    text-align: left;
    margin-bottom: 20px;
}
label{
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}
input[type="email"],
input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #878787;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
}
input:focus {
    border: 2px solid #1DB954;
}

small{
    display: block;
    font-size: 12px;
    color: #6a6a6a;
    margin-top: 5px;
}
.btn-signup {
    width: 100%;
    background-color: #1DB954;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.2s, background-color 0.2s;
}

.btn-signup:hover {
    background-color: #1ed760;
    transform: scale(1.02);
}
.checkbox-group{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    margin: 20px 0;
    font-size: 14px;
}

.checkbox-group input {
    width: 18px;
    height: 18px;
}

.card-footer {
    margin-top: 25px;
    font-size: 14px;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

a{
    color: #1DB954;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .signup-card {
        margin: 0px;
        border-radius: 0px;
        box-shadow: none;
        width: 100vh;
        max-width: 500px;
        max-height: 100%;
    }

    .container{
        width: 100%;
        height: 0%;
        margin: 0px;
        padding: 0px;
    }
    
}

